.tipsTitle {
    font-size: 1.5rem;
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
  }
  
  .tipsContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 0;
    position: relative;
  }
  .tipsContainer::after {
    background-color: #77bfe1;
    content: "";
    position: absolute;
    left: calc(50% - 2px);
    /* margin-top: 6rem; */
    width: 4px;
    height: 100%;
  }
  
  
  .tipsCard {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
  }
  .tipsCard:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
  }
  #root {
    width: 100%;
  }
  .tipsCardContent {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: rgb(220, 243, 245);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
  }
  .tipsCard:nth-child(odd) .tipsCardContent {
    text-align: left;
    align-items: flex-start;
  }
  
  .tipsCardContent::after {
    content: " ";
    background-color: #77bfe1;

    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
  }
  .tipsCard:nth-child(odd) .tipsCardContent {
    text-align: left;
    align-items: flex-start;
  }
  .tipsCard:nth-child(odd) .tipsCardContent::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  .tipsCardContent .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
  }
  .tipsCard:nth-child(odd) .tipsCardContent .tag {
    left: auto;
    right: 5px;
  }
  .tipsCardContent time {
    color: #777;
    font-size: 12px;
    font-weight: bold;
  }
  .tipsCardContent p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    max-width: 250px;
  }
  .tipsCardContent a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #777;
  }
  .tipsCardContent a::after {
    content: "👉";
    /* font-size: 12px; */
  }
  .tipsCardContent .circle {
    background-color: #fff;
    border: 3px solid #77e1dc;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
  }
  .tipsCard:nth-child(odd) .tipsCardContent .circle {
    right: auto;
    left: -40px;
  }
  